.header {
  display: flex;
  height: 86px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.logo {
  margin: 27px 30px;
}

.line {
  height: 30px;
  margin: 24px 0;
  border: 1px solid rgba(3, 40, 89, 0.2);
  transform: rotate(0deg);
}

.menu {
  display: flex;
  width: 551px;
  height: 29px;
}

.li-flex-menu {
  list-style-type: none;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin: 7px 0;
  margin-right: 5%;
}

.menu-number{
  justify-content: flex-end;
  font-size: 8px;
  display: flex;
}

.menu-name {
  display: flex;
  justify-content: center;
  color: #032859;
  font-size: 16px;
}

.flex-button{
  display: flex;
  flex: 1;
  margin-right: 5%;
  justify-content: flex-end;
}

.dark-mode-button {
  display: flex;
  border: 1px solid #0460D9;
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  background: #FFFFFF;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  margin-right: 10px;
}

.dark-mode-button:hover{
  cursor: pointer;
}

.start-button {
  border: none;
  display: flex;
  align-items: center;
  margin: auto 0px;
  text-align: center;
  justify-content: center;
  width: 143px;
  height: 45px;
  background: #0460D9;
  opacity: 0.6;
  color: #FFFFFF;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 14px 33px;
  border-radius: 5px;
  transition: 0.6s ease-in;
}

.start-button:hover{
  cursor: pointer;
  opacity: 1;
  transition: translate 1s ease-in-out;
}