@import url(//db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina);

body {
  margin: 0;
  padding: 0;
  font-family: 'Neue Machina';
  box-sizing: border-box;
  background: #032859;
  overflow-x: hidden;
}

button {
  display: flex;
  height: 57px;
  padding: 0 32px;
  border: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #0460D9;
  color: #FFFFFF;
  margin-right: 10px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.outline-button {
  background: #032859;
  border: 1px solid #0460D9;
}