.background .modules-home {
  position: absolute;
  height: 100%;
  width: 50%;
  background: url("../../assets/Modulos-Home.svg") no-repeat;
  z-index: -1;
  right: -5%;
  top: 0;
}

.box-contorno-home {
  position: absolute;
  width: 858px;
  height: 750px;
  z-index: -1;
  left: -10%;
  top: -24%;
  border-radius: 50px;
  border: 2px solid #0460D9; 
  border-style: dashed;
}

.background p {
  display: flex;
  position: absolute;
  z-index: 1;
  right: -4%;
  top: 50%;
  color: #FFFFFF;
  transform: rotate(-90deg);
}